.ImagesContainer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: rgba(110, 110, 110, 0.129);
    /* //Border */
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px #858585;
}